/* Contatos do Chat */
#container{
    height: 60px;
    overflow-y:scroll;
    overflow-x: hidden;
}
#fotosAside{
    margin: 5px;
    min-height: 6vh;
    width: 64px;
    border-Radius: 50%;  
}
#contatosAside{
    font-Size: 90%;
    font-Family: Arial, Helvetica, sans-serif;
    font-Style: normal;
    font-Weight: bold; 
    color: #000000;
    text-Align: center;
}
#timeAside{
    font-Size: 87%;
    font-Family: Helvetica Neue;
    font-Style: normal;
    font-Weight: bold;
    color: #C4C4C4;
    text-Align: center;
}
#linhaAside1{
    width: 90%;
    height: 1px;
    background: #F7F7F7;
    margin: 0 auto;
    text-Align: center;
}
#addContatosAside{
    font-Size: 110%;
    font-Family: Helvetica Neue; 
    font-Style: normal;
    font-Weight: bold; 
    color: #C4C4C4;
    text-Align: center;
}
#linhaAside2{
    width: 90%;
    height: 1px;
    background: #F7F7F7;
    margin: 0 auto; 
    text-Align: center;
}
/* Item Adicionar Contatos */
#ItemAdicionarCont{
    font-Size: 50%;
    font-Family: Helvetica Neue; 
    font-Style: normal;
    font-Weight: bold; 
    color: #C4C4C4;
    text-Align: center;
}
/* Item Atualizar Contatos */
#ItemAtualizarCont{
    font-Size: 50%;
    font-Family: Helvetica Neue;
    font-Style: normal;
    font-Weight: bold;
    color: #C4C4C4;
    text-Align: center;
}
/* Item Remover Contatos */
#ItemRemoverCont{
    font-Size: 50%;
    font-Family: Helvetica Neue;
    font-Style: normal;
    font-Weight: bold;
    color:  #C4C4C4;
    text-Align: center;
}