/* Conteúdo do Header */
#foto1Header{
    margin: 6px;
    min-height: 6vh;
    width: 64px;
    border-Radius: 50%;
  }
#foto2Header{
  min-height: 6vh;
  width: 64px; 
  border-Radius: 50%;
}  
#nomeHeader{
  font-Size: 90%;
  font-Family:  Arial, Helvetica, sans-serif; 
  font-Style: normal;
  font-Weight: bold; 
  color: #000000;
}