* html body {
    padding: 0px;
    margin: 0px;
}
/* Página de Renderização */
/* Header */
header{
    background-color: #eeeeee; 
    min-height: 8vh;
}
/* Aside */
aside{
    background-Color: #FFFFFF;
    min-Height: 85vh;
}
.divInput2{
    background-color: #F7F7F7;
    height: 40px;
    padding-top: 4px;
}
#Input2Aside{
    border-Radius: 10px;
    width: 100%;
    text-Align: center;
    font-Family: Arial, FontAwesome;
}
/* Main */
main{
    background-color: #F7F7F7;
    min-Height: 85vh; 
}
.divInput1{
    height: 40px; 
    text-Align: center;
    align-items: center;
}
#Input1Main{
    font-Family: Arial, FontAwesome;
    border-Radius: 10px; 
    text-Align: center;
    width: 58%;
    background-Color: #F7F7F7; 
}

