*, body{
    margin: 0;
    padding: 0;
}

/*.HeaderConteiner{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    background: #eeeeee;
    justify-content: space-between;
    align-items: center;    
     
}

.FotoItem1{
    display: flex;
    margin: 5px;
    width: 40px;
    height: 40px;

    background: #c4c4c4;
}

.espacoItem2{
    display: flex;

    
     width: 1px;
     height: 98%;
     
     
     

     background: rgba(0, 0, 0, 0.08); 
}

.FotoItem3{
    width: 40px;
    height: 40px;

    background: #c4c4c4;
}

.NomeItem4{
    width: 64%;
    height: 20px;

    font-family: Helvetica Neue, Arial;
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% 
  
    color: #000000;
}*/